<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <table id="id_post_table">
                {% for post in posts %} 
                    <tr>
                        <!-- <td>{{ forloop.counter }}: </td> -->
                        <td><h1><a href="">{{ post.title }}</a></h1></td>
                    </tr>
                    <tr>
                        <td>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td><p>published: {{ post.published_date }}</p></td>                            
                    </tr>
                {% endfor %}
            </table>            
        </div>
    </body>
</html>